* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerr {
    /* background-color: rgb(33, 33, 228); */
    min-height: 100vh;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar {
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

.navbar li:hover a {
    color: red;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li {
    list-style: none;
    margin-left: 20px;
    font-size: 1.2rem;
    color: black;
}

.contexth1 {
    font-size: 1.7rem;
    color: black;
    text-align: left;
    right: 100px;
    position: relative;
    top: 20px;
    font-family: 'Tangerine', serif;
}

.containerr hr {
    left: 200px;
    position: relative;
    text-align: center;
    width: 60%;
}

.leftcontent h1 {
    text-align: center;
    color: black;
    width: 320px;
    margin-left: 200px;
}

.leftcontent p {
    color: #131111;
    font-size: 1.1rem;
    margin-left: 230px;
}

.leftcontent .ion-icon1 {
    font-size: 3.2rem;
    margin-left: 220px;
}

.leftcontent ion-icon {
    font-size: 3.2rem;
}

.leftcontent ion-icon {
    margin-left: 20px;
}

.leftcontent .context-p1 {
    font-size: 0.78rem;
    color: black;
    width: 400px;
    margin-top: 20px;
}

.leftcontent button {
    margin-left: 230px;
}

.container2 {
    display: flex;
}

.rightcontent img {
    width: 400px;
    margin-left: 200px;
    margin-top: 20px;
}

.text1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 160px;
}

.imgs {
    margin-left: 160px;
    margin-right: 160px;
}

h4 {
    display: inline-block;
}

.page-first-logo {
    font-family: sans-serif;
    margin: 50px;
    text-align: center;
}

h4 {
    color: rgb(110, 106, 106);
    text-align: center;
    transform: translateY(-30px);
}

.page-images {
    margin-left: 20px;
}

.page-img-1 {
    margin: 15px;
}

.page-img-2 {
    margin: 15px;
}

.page-img-3 {
    margin: 15px;
}

.page-img-4 {
    margin: 15px;
}

h3 {
    display: inline-block;
    margin: 60px;
}

.next-part-word-1 {
    margin-top: 20px;
    text-align: center;
}